Source: nexenta-builder
Section: devel
Priority: optional
Maintainer: Nexenta System <support@nexenta.com>

Package: nexenta-builder
Architecture: solaris-i386
Depends: reprepro, apt, debootstrap, mkisofs, zlib1g-dev
Description: Nexenta ISO Builder Kit
 Bootstraps Nexenta Core Platform into customized ISO using
 APT repository as its input
 .
