Source: nexenta-builder
Section: devel
Priority: optional
Maintainer: Nexenta Systems <maintainer@nexenta.com>

Package: nexenta-builder
Architecture: solaris-i386
Depends: package-dpkg-apt, reprepro, debootstrap, media-cdrtools
Description: Nexenta ISO Builder Kit
 Bootstraps Nexenta Core Platform into customized ISO using
 APT repository as its input
 .
